In [2]:
import pandas as pd
import numpy as np

In [5]:
Accidents_data = pd.read_csv("C:/Users/HP/Documents/Python Scripts/traffic_accidents.csv")

In [6]:
Accidents_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209306 entries, 0 to 209305
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_date                     209306 non-null  object
 1   traffic_control_device         209306 non-null  object
 2   weather_condition              209306 non-null  object
 3   lighting_condition             209306 non-null  object
 4   first_crash_type               209306 non-null  object
 5   trafficway_type                209306 non-null  object
 6   alignment                      209306 non-null  object
 7   roadway_surface_cond           209306 non-null  object
 8   road_defect                    209306 non-null  object
 9   crash_type                     209306 non-null  object
 10  intersection_related_i         209306 non-null  object
 11  damage                         209306 non-null  object
 12  prim_contributory_cause        209306 non-null  object
 13  num_units                      209306 non-null  int64
 14  most_severe_injury             209306 non-null  object
 15  injuries_total                 209306 non-null  int64
 16  injuries_fatal                 209306 non-null  int64
 17  injuries_incapacitating        209306 non-null  int64
 18  injuries_non_incapacitating    209306 non-null  int64
 19  injuries_reported_not_evident  209306 non-null  int64
 20  injuries_no_indication         209306 non-null  int64
 21  crash_hour                     209306 non-null  int64
 22  crash_day_of_week              209306 non-null  int64
 23  crash_month                    209306 non-null  int64
dtypes: int64(10), object(14)
memory usage: 38.3+ MB

In [7]:
Accidents_data =pd.DataFrame(Accidents_data)

In [8]:
Accidents_data.head(3)

,crash_date,traffic_control_device,weather_condition,lighting_condition,first_crash_type,trafficway_type,alignment,roadway_surface_cond,road_defect,crash_type,...,most_severe_injury,injuries_total,injuries_fatal,injuries_incapacitating,injuries_non_incapacitating,injuries_reported_not_evident,injuries_no_indication,crash_hour,crash_day_of_week,crash_month
0,7/29/2023 13:00,TRAFFIC SIGNAL,CLEAR,DAYLIGHT,TURNING,NOT DIVIDED,STRAIGHT AND LEVEL,UNKNOWN,UNKNOWN,NO INJURY / DRIVE AWAY,...,NO INDICATION OF INJURY,0,0,0,0,0,3,13,7,7
1,8/13/2023 0:11,TRAFFIC SIGNAL,CLEAR,"DARKNESS, LIGHTED ROAD",TURNING,FOUR WAY,STRAIGHT AND LEVEL,DRY,NO DEFECTS,NO INJURY / DRIVE AWAY,...,NO INDICATION OF INJURY,0,0,0,0,0,2,0,1,8
2,12/9/2021 10:30,TRAFFIC SIGNAL,CLEAR,DAYLIGHT,REAR END,T-INTERSECTION,STRAIGHT AND LEVEL,DRY,NO DEFECTS,NO INJURY / DRIVE AWAY,...,NO INDICATION OF INJURY,0,0,0,0,0,3,10,5,12

In [9]:
Accidents_data['crash_date'] = pd.to_datetime(Accidents_data['crash_date'], errors='coerce')
Accidents_data['crash_year'] = Accidents_data['crash_date'].dt.year
Accidents_data['crash_month'] = Accidents_data['crash_date'].dt.month
Accidents_data['crash_day'] = Accidents_data['crash_date'].dt.day
Accidents_data['crash_hour'] = Accidents_data['crash_date'].dt.hour
Accidents_data['crash_day_of_week'] = Accidents_data['crash_date'].dt.day_name()

In [10]:
Accidents_data.shape

(209306, 26)

In [11]:
Accidents_data["damage"].tail(2)

209304    $500 OR LESS
209305     OVER $1,500
Name: damage, dtype: object

In [12]:
Accidents_data.columns

Index(['crash_date', 'traffic_control_device', 'weather_condition',
       'lighting_condition', 'first_crash_type', 'trafficway_type',
       'alignment', 'roadway_surface_cond', 'road_defect', 'crash_type',
       'intersection_related_i', 'damage', 'prim_contributory_cause',
       'num_units', 'most_severe_injury', 'injuries_total', 'injuries_fatal',
       'injuries_incapacitating', 'injuries_non_incapacitating',
       'injuries_reported_not_evident', 'injuries_no_indication', 'crash_hour',
       'crash_day_of_week', 'crash_month', 'crash_year', 'crash_day'],
      dtype='object')

In [14]:
Accidents_data["damage"].head()

0    $501 - $1,500
1      OVER $1,500
2    $501 - $1,500
3      OVER $1,500
4    $501 - $1,500
Name: damage, dtype: object

In [16]:
def process_damage(value):
    # removing the dollar signs and commas
    value = value.replace('$', '').replace(',', '').strip().upper()  # converting to uppercase for consistency

    # Handle ranges
    if '-' in value:
        lower, upper = map(int, value.split('-'))
        return (lower + upper) / 2  # this is to return the average of the values given as ranges
    elif 'ABOVE' in value or 'OVER' in value:
        return int(value.split()[-1])  # to handle the values given with the 'above' or 'over' formats
    elif 'OR LESS' in value:
        return int(value.split()[0])  # to return the number before 'or less'
    else:
        return int(value)  # return the integer value

In [17]:
    # Process the damage column
Accidents_data['damage'] = Accidents_data['damage'].apply(process_damage)

In [22]:
Accidents_data["damage"].head()

0    1000.5
1    1500.0
2    1000.5
3    1500.0
4    1000.5
Name: damage, dtype: float64